!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
dist

yarn-error.log

*.DS_Store

!prettier.config.js

config.json

!@types/**
!**/@types/**
env
.env
.env.*
env

src/polytag-stack/lambdas/cloudfront/resolver-viewer-request/handler.js

/build-nextjs
infrastructure/java/flink/target

pnpm-lock.yaml

java/flink/target
java/flink/.idea

files/
/coverage

output.json
buildspec.yml
/backups

/pngs
/utilities/scripts/pdf/pdfs
/utilities/scripts/pdf/pngs
/utilities/scripts/analytics/reports


prod-count-data.json
prod-initial-data.json
prod-navigator-data.json
prod-ping-data.json
prod-print-data.json

dev-count-data.json
dev-initial-data.json
dev-navigator-data.json
dev-ping-data.json
dev-print-data.json

stg-count-data.json
stg-initial-data.json
stg-navigator-data.json
stg-ping-data.json
stg-print-data.json

!utilities/scripts/index.d.ts

generated_users/
/generated/**/*

/scripts/choices/generate-labels-pdf/pngs
/scripts/choices/generate-labels-pdf/pdfs

scripts/choices/custom/gs1/test-gs1-api-v2/gtins.json

